#celeste{
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    height: 88px;
    background-size: 350px;
}

#logo{
    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
}

#margini{
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    margin-bottom: 3px;
    margin-top: 15px;
    line-height: 1;
}

#scrittoda{
    margin-top: 2px;
    color: rgb(131, 131, 131);
    font-weight: lighter;
    font-size: smaller;
}

#link{
    color: #4EA0FF;
    text-decoration: none;
}

#data{
    font-size: 10px;
}

.tim1{
    width: 435px;
    display: inline-block;
}

.tim2{
    width: 373px;
    display: inline-block;
}

.descrizione{
    font-size: x-small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.testo{
    font-size: smaller;
}

.giallo{
    background-color: yellow;
}

#lista{
    padding-left: 14px;
}
