#celeste{
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    height: 88px;
    background-size: 350px;
}

#logo{
    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
}

#margini{
    margin-left: 100px;
    margin-right: 100px;
}